fastapi
uvicorn
langgraph
langchain
langchain-core
langchain-community
langchain-mongodb
motor
pydantic
pydantic-settings
jinja2
langgraph-checkpoint-mongodb
langchain_openai 
google-cloud-speech
google-cloud-texttospeech 
google-auth 
openai 
aiosmtplib 
httpx
vertexai
langchain-google-vertexai
openai-whisper
piper-tts
mcp
httpx
langchain_google_genai
fpdf2 
python-docx
langchain-community 
sqlalchemy
psycopg2-binary
PyMySQL
pytz
rapidfuzz
gliner2